# Auto detect text files and perform LF normalization
* text=auto
path/to/your/directory filter=lfs diff=lfs merge=lfs -text
C:/Users/el200/Documents/GitHub/Internship/Internship filter=lfs diff=lfs merge=lfs -text
C:/Users/el200/Documents/GitHub/Internship/Internship/gym_hpa_predictions filter=lfs diff=lfs merge=lfs -text
C:/Users/el200/Documents/GitHub/Internship/Internship/gym_hpa_predictions filter=lfs diff=lfs merge=lfs -text
C:/Users/el200/Documents/GitHub/Internship/Internship/gym_hpa_predictions filter=lfs diff=lfs merge=lfs -text
C:/Users/el200/Documents/GitHub/Internship/Internship/gym_hpa_predictions filter=lfs diff=lfs merge=lfs -text
gym_hpa_predictions/* filter=lfs diff=lfs merge=lfs -text
